
@{
    ViewBag.Title = "OcjenjivanjePomoc";
}

<h1>Kako ocijeniti predstavu koju sam gledao?</h1>
<br>
<h3>U tabu "Rezervacije" u tabeli "Istorija rezervacija" za željenu predstavu izabrati opciju "Recenzuj".</h3>
<img src='~/Images/Rezervacija4.png'>
<br>
<h3>Na novootvorenoj stranici unijeti ocjenu i komentar.</h3>
<img src='~/Images/Rezervacija41.png'>
