
@{
    ViewBag.Title = "OtkazivanjePomoc";
}
<h1>Otkazivanje rezervacije</h1>
<br>
<h3>Odabirom taba "Rezervacije" u tabeli "Moje rezervacije" možete vidjeti spisak svih izvedbi koje ste rezervisali. Odabirom linka "Otkaži" dobijate mogućnost otkazivanja rezervacije za navedenu izvedbu.</h3>
<img src='~/Images/Rezervacija3.png'>

