
@{
    ViewBag.Title = "PromjenaLozPomoc";
}

<h1>Kako promijeniti lozinku?</h1>

<h3>U tabu "Podešavanja" izabrati opciju "Promijeni" i na novootvorenoj stranici unesite željenu lozinku i pritisnite dugme "Sačuvaj".</h3>
<img src='~/Images/Rezervacija5.png'>

