
@{
    ViewBag.Title = "RezervacijaPomoc";
}

<h1>Kako Rezervisati kartu?</h1>

<h3> Nakon odabira taba "Repertoar" pronađite željenu izvedbu i klikom na dugme "Rezerviši" otvarate prozor sa grafičkim prikazom sale i trenutno slobodnim i zauzetim mjestima.</h3>
<img src='~/Images/Rezervacija1.png'>
<h3>Nakon odabira jednog ili više željenih mjesta klikom na dugme "Rezerviši" izvršili ste rezervaciju mjesta. Prikaz svih rezervacija možete pronaći u tabu "Rezervacije".</h3>
<img src='~/Images/Rezervacija2.png'>
<br>
@Html.ActionLink("Vrati se nazad", "Index")