@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    Novo pozorište<br />
    Rumenačka 125, Novi Sad<br />
    <abbr title="Phone">Telefon:</abbr>
    021.021.021
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:pozoriste@example.com">pozoriste@example.com</a><br /> 
</address>