@model Pozoriste.ViewModel.ChartViewModel

@{
    ViewBag.Title = "GrafikRezervacija";
}

<h2>Grafik Rezervacija</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Our Awesome Chart!</h2>

    @Model.Chart.Write(format: "png")
</body>
</html>

